* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.page_container {
    max-width: 1200px;
    margin: 0 auto;
}

.main_button {
    @include main_button;
}
.outline_button_dark {
    @include outline_button_dark;
}

// =============================== HEADER ========================= //
.header {
    background-color: $main_gray;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    &__burger {
        div {
            width: 32px;
            height: 4px;
            margin: 4px;
            background-color: white;
            border-radius: 2px;
        }
    }
    &__logo {
        display: none;
    }
    &__navigation {
        display: none;
    }
    &__buttons {
        display: flex;
        align-items: center;
        &__item {
            &_cart {
                display: flex;
                align-items: center;
                span {
                    margin-left: 4px;
                    color: white;
                    font-size: 1.5rem;
                }
            }
            & > button {
                display: none;
            }
        }
    }
}

// =============================== PROMO ========================= //

.promo {
    background: url(../image/bg_mobile_promo.png) no-repeat;
    background-size: 100%;
    &__container {
        padding: 16rem 1rem 3.25rem 1rem;
    }
    &__logo {
        img {
            width: 100%;
        }
    }
    &__description {
        font-weight: 500;
        color: $text_white;
        margin: 2rem 0 1rem 0;
    }
    &__button {
        button {
            width: 100%;
        }
    }
}

//================================ SERVICE ===================================//

.service {
    &__title {
        font-weight: bold;
        color: $main_orange;
        padding: 2rem 0 1.5rem 2rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        &::before {
            display: inline-block;
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: $main_orange;
            margin-right: 0.5rem;
        }
    }
    &__items {
        &_background {
            background-color: rgba($main_gray, 0.8);
            padding: 1.5rem 1rem;
        }
        &_container {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    &__item {
        img {
            width: 70px;
            height: 70px;
            filter: brightness(1.6);
        }
        display: flex;
        align-items: center;
        margin: 1.5rem 0;
        &__content_wrapper {
            margin-left: 0.5rem;
        }
        &__text {
            color: $text_white;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        &__time {
            color: $text_white;
        }
        &__price {
            color: $text_white;
        }
    }
}
