* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.page_container {
    max-width: 1200px;
    margin: 0 auto;
}

.main_button {
    @include main_button;
    &:hover {
        @include main_button--hover;
    }
}
.outline_button_dark {
    @include outline_button_dark;
    &:hover {
        @include outline_button_dark--hover;
    }
}
.outline_button_light {
    @include outline_button_light;
    &:hover {
        @include outline_button_light--hover;
    }
}
.section_header {
    font-weight: bold;
    color: $main_orange;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &::before {
        display: inline-block;
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: $main_orange;
        margin-right: 0.5rem;
    }
}
.slider_control {
    width: 53px;
    height: 53px;
    background-color: $beige;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
        background-color: darken($beige, 5%);
    }
}

// =============================== HEADER ========================= //
.header {
    background-color: $main_gray;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    &__burger {
        div {
            width: 32px;
            height: 4px;
            margin: 4px;
            background-color: white;
            border-radius: 2px;
        }
    }
    &__logo {
        display: none;
    }
    &__navigation {
        display: none;
    }
    &__buttons {
        display: flex;
        align-items: center;
        &__item {
            &_cart {
                display: flex;
                align-items: center;
                span {
                    margin-left: 4px;
                    color: white;
                    font-size: 1.5rem;
                }
            }
            & > button {
                display: none;
            }
        }
    }
}

// =============================== PROMO ========================= //

.promo {
    background: url(../image/bg_mobile_promo.png) no-repeat;
    background-size: 100%;
    &__container {
        padding: 16rem 1rem 3.25rem 1rem;
    }
    &__logo {
        img {
            width: 100%;
        }
    }
    &__description {
        font-weight: 500;
        color: $text_white;
        margin: 2rem 0 1rem 0;
    }
    &__button {
        button {
            width: 100%;
        }
    }
}

//================================ SERVICE ===================================//

.service {
    &__title {
        padding: 2rem 0 1.5rem 2rem;
    }
    &__items {
        &_background {
            background-color: rgba($main_gray, 0.8);
            padding: 1.5rem 1rem;
        }
        &_container {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    &__item {
        img {
            width: 70px;
            height: 70px;
            filter: brightness(1.6);
        }
        display: flex;
        align-items: center;
        margin: 1.5rem 0;
        &__content_wrapper {
            margin-left: 0.5rem;
        }
        &__text {
            color: $text_white;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        &__time {
            color: $text_white;
        }
        &__price {
            color: $text_white;
        }
    }
}

//=================================== TEAM ========================================//@at-root

.team {
    &__title {
        justify-content: flex-end;
        padding: 1.5rem 1rem;
    }
    &__slider {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 1.5rem;
    }
    &__members {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        &__item {
            width: 205px;
            height: 335px;
            position: relative;
            &:nth-child(1) {
                display: block;
                .team__members__item_img {
                    background: url("../image/team_1.png") no-repeat;
                    background-size: 100%;
                }
            }
            &:nth-child(2) {
                display: none;
                .team__members__item_img {
                    background: url("../image/team_2.png") no-repeat;
                    background-size: 100%;
                }
            }
            &:nth-child(3) {
                display: none;
                .team__members__item_img {
                    background: url("../image/team_3.png") no-repeat;
                    background-size: 100%;
                }
            }
            &:nth-child(4) {
                display: none;
                .team__members__item_img {
                    background: url("../image/team_4.png") no-repeat;
                }
            }
            &_img {
                position: absolute;
                width: 130px;
                height: 190px;
                left: calc(50% - 65px);
                bottom: 0px;
            }
            &.active {
                background-color: $main_orange;
                .team__members__item_img {
                    width: 200px;
                    height: 290px;
                    left: -15px;
                    top: 17px;
                }
            }
        }
    }
    &__description {
        &_subtitle {
            color: $main_orange;
            font-weight: bold;
            padding: 1.5rem 0 0 1rem;
        }
        &_text {
            color: $main_gray;
            padding: 1rem 1rem 2rem 1rem;
        }
    }
}

//======================================  BOOK ======================================//
.book {
    position: relative;
    &__container {
        padding: 12rem 1rem 16rem 1rem;
    }
    &__form {
        &_title {
            color: $main_gray;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
        }
        &_subtitle {
            text-align: center;
            margin-bottom: 2rem;
            color: $main_gray;
        }
        &__input {
            margin: 1rem 0;
            label {
                display: block;
                padding: 0.5rem;
                color: $main_gray;
            }
            input {
                display: block;
                width: 100%;
                padding: 1rem;
                border-radius: 4px;
                font-size: 1rem;
                border: 1px solid #dfdfdf;
            }
        }
    }
    &__button {
        button {
            margin-top: 1rem;
            width: 100%;
        }
    }
}

//===========================================PRODUCT==============================================//

.product {
    &__title {
        padding: 2.5rem 0 3rem 1rem;
    }
    &__card {
        display: none;
        width: 286px;
        padding: 2rem;
        justify-self: center;
        &:nth-child(1) {
            display: block;
        }
        &__image {
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.08);
        }
        &_wrapper {
            display: grid;
            grid-template-columns: 1fr;
        }
        &__title {
            color: $main_gray;
            font-weight: bold;
            margin-top: 1.5rem;
        }
        &__text {
            line-height: 20px;
            margin-top: 0.5rem;
        }
        &__price {
            font-weight: bold;
            color: $main_orange;
            margin-top: 1rem;
        }
        &__buttons_wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 1.5rem;
        }
        &__button_add {
            button {
                padding: 1em;
                width: 52px;
                height: 52px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &__controls {
        display: flex;
        justify-content: center;
        &__item {
            margin: 1rem;
            &:first-child {
                transform: rotate(180deg);
            }
        }
    }
}
