// ===================================== TABLET ===========================//
@media (min-width: 576px) {
    .promo {
        &__container {
        }
        &__logo {
            img {
                width: 75%;
            }
        }
        &__description {
            width: 75%;
            line-height: 1.5rem;
        }
        &__button {
            button {
                width: unset;
            }
        }
    }

    .service {
        &__title {
            justify-content: center;
            font-size: 1.5rem;
        }
        &__items {
            &_container {
                grid-template-columns: 1fr 1fr;
            }
        }
        &__item {
            justify-content: center;
        }
    }

    .team {
        &__title {
            justify-content: center;
            font-size: 1.5rem;
        }
    }

    .book {
        &__form_title {
            font-size: 1.5rem;
        }
    }

    .product {
        &__title {
            justify-content: center;
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 768px) {
    .promo {
        background: url(../image/bg_tablet.png) no-repeat;
        background-size: 100%;
        &__container {
            padding: 8rem 1rem 3.25rem 1rem;
        }
        &__logo {
            img {
                width: 65%;
            }
        }
        &__description {
            width: 65%;
            font-weight: 700;
            line-height: 1.5rem;
        }
        &__button {
            button {
                width: unset;
            }
        }
    }
    .service {
        &__title {
            justify-content: center;
            font-size: 2rem;
            text-transform: capitalize;
        }
        &__items {
            &_container {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    .team {
        &__title {
            justify-content: center;
            font-size: 2rem;
            text-transform: capitalize;
        }
        &__members {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            &__item {
                width: 170px;
                height: 305px;
                &:nth-child(1) {
                    display: block;
                }
                &:nth-child(2) {
                    display: block;
                }
                &:nth-child(3) {
                    display: block;
                }
                &:nth-child(4) {
                    display: block;
                }
                &_img {
                    width: 115px;
                    height: 170px;
                }
                &.active {
                    background-color: $main_orange;
                    .team__members__item_img {
                        width: 174px;
                        height: 294px;
                        left: -17px;
                        top: 21px;
                    }
                }
            }
        }
    }

    .book {
        background: url("../image/book_bg.png") no-repeat;
        background-size: 100%;
        position: relative;
        &__form_wrapper {
            width: 90%;
            margin: 0 auto;
            background-color: $white;
            padding: 4rem 2.5rem;
            border-radius: 4px;
        }

        &__container {
            padding: 6rem 2rem;
            background-color: rgba(#000000, 0.8);
        }
        &__form {
            &_title {
                font-size: 2rem;
                font-style: bold;
                text-transform: none;
                padding: 0 6rem;
            }
            &_subtitle {
                text-align: center;
                margin-bottom: 2rem;
                font-weight: 500;
            }
        }
    }

    .product {
        &__title {
            padding: 5.5rem 0 3rem 2rem;
            font-size: 2rem;
            text-transform: capitalize;
            justify-content: left;
        }
        &__card {
            display: block;
            width: 286px;
            padding: 2rem;
            justify-self: center;

            &_wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

// ===================================== DESKTOP ===========================//
@media (min-width: 1200px) {
    .header {
        &__container {
        }
        &__burger {
            display: none;
        }
        &__logo {
            display: block;
        }
        &__navigation {
            display: flex;
            list-style: none;
            &__link {
                min-width: 6rem;
                display: flex;
                justify-content: center;
                & span {
                    color: $white;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &:hover {
                        color: $main_orange;
                        &::before {
                            content: "";
                            display: inline-block;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            margin-right: 0.25rem;
                            background-color: $main_orange;
                        }
                    }
                }
            }
        }
        &__buttons {
            &__item {
                & > button {
                    display: block;
                    margin: 0 0.25rem;
                }
                &_cart {
                    margin-right: 2.5rem;
                }
            }
        }
    }
    .promo {
        background: url(../image/bg_promo.png) no-repeat;
        background-size: 100%;
        &__container {
            padding: 10rem 1rem 10rem 1rem;
        }
        &__logo {
            img {
                width: 55%;
            }
        }
        &__description {
            font-size: 2rem;
            width: 55%;
            font-weight: 700;
            line-height: 2rem;
            margin: 4.5rem 0 2.5rem 0;
        }
        &__button {
            button {
                width: unset;
            }
        }
    }
    .service {
        background: url(/image/service_bg.png) no-repeat;
        margin-top: 6rem;
        height: 600px;
        &__title {
            justify-content: center;
            font-size: 4rem;
            text-transform: capitalize;
            &::before {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1rem;
            }
            &__items {
                &_container {
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }
    }
    .team {
        &__title {
            font-size: 4rem;
            justify-content: flex-end;
            padding: 6rem 2rem 3rem 0;
            &::before {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1rem;
            }
        }
        &__container {
            padding-bottom: 7rem;
        }
        &__content {
            display: flex;
            justify-content: space-between;
        }
        &__description {
            &_subtitle {
                font-size: 2rem;
            }
        }
    }
    .book {
        position: relative;
        &__container {
            padding: 12rem 1rem 16rem 1rem;
        }
        &__form {
            &_wrapper {
                width: 40%;
                margin: 0 auto;
                background-color: $white;
                padding: 4rem 2.5rem;
                border-radius: 4px;
            }
            &_inputs {
                display: flex;
                justify-content: space-between;
                .book__form__input {
                    flex-grow: 1;
                    &:nth-child(1) {
                        margin-right: 12px;
                    }
                    &:nth-child(2) {
                        margin-left: 12px;
                    }
                }
            }
        }
        &__button {
            display: flex;
            justify-content: center;
            button {
                width: unset;
            }
        }
    }

    .product {
        &__title {
            padding: 5.5rem 0 4rem 2rem;
            font-size: 4rem;
            text-transform: capitalize;
            justify-content: left;
            &::before {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1rem;
            }
        }
        &__card {
            display: block;
            width: 286px;
            padding: 2rem;
            justify-self: center;

            &_wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}
