.review {
    background: url("../image/review_bg.png") no-repeat;
    background-size: 100%;
    margin-top: 3rem;
    &__shader {
        background-color: rgba(#000000, 0.8);
    }
    &__title {
        justify-content: flex-end;
        padding: 2rem 1.5rem;
    }
    &__slider {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 1.5rem;
    }
    &__members {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        &__item {
            width: 205px;
            height: 335px;
            position: relative;
            &:nth-child(1) {
                display: block;
                .review__members__item_img {
                    background: url("../image/team_1.png") no-repeat;
                    background-size: 100%;
                }
            }
            &:nth-child(2) {
                display: none;
                .review__members__item_img {
                    background: url("../image/team_2.png") no-repeat;
                    background-size: 100%;
                }
            }
            &:nth-child(3) {
                display: none;
                .review__members__item_img {
                    background: url("../image/team_3.png") no-repeat;
                    background-size: 100%;
                }
            }
            &:nth-child(4) {
                display: none;
                .review__members__item_img {
                    background: url("../image/team_4.png") no-repeat;
                    background-size: 100%;
                }
            }
            &_img {
                position: absolute;
                width: 130px;
                height: 190px;
                left: calc(50% - 65px);
                bottom: 0px;
                transition: all 0.5s ease-in-out;
            }
            &.active {
                border: 1px solid $beige;
                .review__members__item_img {
                    width: 200px;
                    height: 290px;
                    left: -15px;
                    top: 17px;
                }
            }
        }
    }
    &__control_item {
        &.slider_control {
            background-color: unset;
        }
    }
    &__description {
        &_subtitle {
            color: $main_orange;
            font-weight: bold;
            padding: 1.5rem 0 0 1rem;
        }
        &_text {
            color: $beige;
            font-weight: 100;
            padding: 1rem 1rem 4rem 1rem;
        }
    }
}
