@media (min-width: 576px) {
    .book {
        &__form_title {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 768px) {
    .book {
        background: url("../image/book_bg.png") no-repeat;
        background-size: 100%;
        position: relative;
        &__form_wrapper {
            width: 90%;
            margin: 0 auto;
            background-color: $white;
            padding: 4rem 2.5rem;
            border-radius: 4px;
        }

        &__container {
            padding: 6rem 2rem;
            background-color: rgba(#000000, 0.8);
        }
        &__form {
            &_title {
                font-size: 2rem;
                font-style: bold;
                text-transform: none;
                padding: 0 6rem;
            }
            &_subtitle {
                text-align: center;
                margin-bottom: 2rem;
                font-weight: 500;
            }
        }
    }
}

@media (min-width: 1200px) {
    .book {
        background: url("../image/review_bg_desktop.png") no-repeat;
        background-size: 100%;
        position: relative;
        &__container {
            padding: 8rem 1rem 7rem 1rem;
        }
        &__form {
            &_wrapper {
                width: 40%;
                margin: 0 auto;
                background-color: $white;
                padding: 3rem 1.5rem;
                border-radius: 4px;
            }
            &_inputs {
                display: flex;
                justify-content: space-between;
                .book__form__input {
                    flex-grow: 1;
                    &:nth-child(1) {
                        margin-right: 12px;
                    }
                    &:nth-child(2) {
                        margin-left: 12px;
                    }
                }
            }
        }
        &__button {
            display: flex;
            justify-content: center;
            button {
                width: unset;
            }
        }
    }
}
