@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
    .header {
        &__container {
        }
        &__burger {
            display: none;
        }
        &__logo {
            display: block;
        }
        &__navigation {
            display: flex;
            list-style: none;
            &__link {
                min-width: 6rem;
                display: flex;
                justify-content: center;
                & span {
                    color: $white;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &:hover {
                        color: $main_orange;
                        &::before {
                            content: "";
                            display: inline-block;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            margin-right: 0.25rem;
                            background-color: $main_orange;
                        }
                    }
                }
            }
        }
        &__buttons {
            &__item {
                & > button {
                    display: block;
                    margin: 0 0.25rem;
                }
                &_cart {
                    margin-right: 2.5rem;
                }
            }
        }
    }
}
