@media (min-width: 576px) {
    .review {
        &__title {
            justify-content: center;
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 768px) {
    .review {
        background: url("../image/review_bg_tablet.png") no-repeat;
        background-size: 100%;
        &__title {
            justify-content: center;
            font-size: 2rem;
            text-transform: capitalize;
        }
        &__members {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            &__item {
                width: 170px;
                height: 305px;
                &:nth-child(1) {
                    display: block;
                }
                &:nth-child(2) {
                    display: block;
                }
                &:nth-child(3) {
                    display: block;
                }
                &:nth-child(4) {
                    display: block;
                }
                &_img {
                    width: 115px;
                    height: 170px;
                }
                &.active {
                    border: 1px solid $beige;
                    .review__members__item_img {
                        width: 174px;
                        height: 294px;
                        left: -17px;
                        top: 21px;
                    }
                }
            }
        }
        &__description {
            margin-left: 12rem;
        }
    }
}

@media (min-width: 1200px) {
    .review {
        background: url("../image/review_bg_desktop.png") no-repeat;
        background-size: 100%;
        &__title {
            font-size: 4rem;
            justify-content: flex-start;
            padding: 6rem 2rem 3rem 12rem;
            &::before {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1rem;
            }
        }
        &__container {
            padding-bottom: 1rem;
        }
        &__description {
            &_subtitle {
                font-size: 2rem;
            }
        }
    }
}
